<% @courier&.packages.each do |p| %>
    <div class="row">
        <div class="col"><%= p.tracking_number %></div>
        <div class="col">
          <%= form_with(url: courier_package_delivery_status_path(@courier, p), method: "put") do |f|%>
            <%= f.select :delivery_status,
                         options_for_select(Package.delivery_statuses),
                         :onchange => "this.form.submit();" %>
          <% end %>
        </div>
    </div>
<% end %>
