<% @courier&.packages.each do |p| %>
    <div class="row">
        <div class="col"><%= p.tracking_number %></div>
        <div class="col">
          <%= link_to courier_package_delivery_status_path(@courier, p), remote: true, method: 'put' do %>
            <input type="checkbox" id="packageStatus" <%= p.delivery_status == true ? "checked" : "" %> >
          <% end %>
        </div>
    </div>
<% end %>
