<%= render 'nav_bar' %>

<div class="container">
  <div class="card">
    <div class="card-title text-center"><h2>Edit Courier</h2></div>
    <div class="card-body">
      <%= render "form", courier: @courier %>
    </div>
  </div>
</div>
